@font-face {
    font-family: Netflix;
    src: url(Fonts/NetflixSans-Regular.otf);
}
@font-face {
    font-family: NetflixMedium;
    src: url(Fonts/Netflix\ Sans\ Medium.otf);
}
@font-face {
    font-family: NetflixLight;
    src: url(Fonts/Netflix\ Sans\ Light.otf);
}
@font-face {
    font-family: NetflixBold;
    src: url(Fonts/Netflix\ Sans\ Bold.otf);
}
body{
    background-image: url(Images/netflix.png);
}
.hi{
    background-color: black;
}
.netflixLogo{
    width: 158px;
    margin-left: 360px;
    margin-top: -2px;
}
.signIn{
    border: 0.1px solid #E50914;
    border-radius: 4px;
    background-color: #E50914;
    width: 77px;
    margin-left: 19px;
    margin-top: 27px;
    font-family: NetflixMedium;
    color: white;
    font-size: 14px;
    height: 32px;
}
.languageSelect{
    font-family: NetflixLight;
    width: 120px;
    padding: 4px;
    color: white;
    margin-left: 795px;
    background-color: rgba(22, 22, 22, 0.7);
    border: 1.7px solid #5F5E5E;
    border-radius: 4px;
    height: 32px;
}
.heading{
    font-family: NetflixBold;
    font-size: 48px;
    color: white;
    margin-left: 515px;
    margin-top: 215px;
    margin-bottom: 15px;
}
.p1{
    font-family: Netflix;
    font-size: 24px;
    color: white;
    margin-left: 767px;
    margin-bottom: 22px;
}
.p2{
    font-family: Netflix;
    font-size: 20px;
    color: white;
    margin-left: 630px;
}
#asdf{
    font-family: Netflix;
    background-color: rgba(22, 22, 22, 0.7);
    border: 1.7px solid #5F5E5E;
    border-radius: 4px;
    width: 380px;
    height: 57px;
    margin-left: 655px;
    margin-right: 5px;
    padding-left: 15px;
    color: white;
}
#asdf::placeholder{
    color: #B8BDBD;
}
.getStarted{
    border: 0.1px solid #E50914;
    border-radius: 4px;
    background-color: #E50914;
    color: white;
    font-size: 25px;
    font-family: NetflixMedium;
    height: 62px;
    width: 200px;
}